
body {
    padding: 0;
    max-width: 1400px;
    margin: 0 auto;
    font-family: 'InputSansCompressed';
    font-weight: normal;
    font-style: normal;
    background-color: #000000;
}

.parent {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 8; }
    .div2 { grid-area: 2 / 1 / 6 / 5; }
    .div3 { grid-area: 3 / 5 / 4 / 8; }
    .div4 { grid-area: 5 / 5 / 6 / 8; }


    h1{
        font-size: 40px;
        font-family: 'ZangeziSans09';
        font-weight: normal;
        font-style: normal;
        color: rgb(243, 239, 229);
        
        text-align: center;
    }
    p{
        font-size: 26px;
        font-family: 'ZangeziSans09';
        font-weight: normal;
        font-style: normal;
        color: rgb(243, 239, 229);
        text-align: left;
    }

    .btn {
        display: block;
        border: solid 3px #272727;
        font-size: 35px;
        line-height: 1;
        padding: 16px 30px;
        border-radius: 50px;
        background: #272727;
        color: #F2F2F2;
        cursor: pointer;
        transition: all 0.2s linear;
        font-family: 'ZangeziSans09';
        font-weight: normal;
        font-style: normal;
        
    
    }
    .btn:hover,
    .btn:focus {
        background: rgb(242,242,242);
    
        
    color: #272727; 
    }
    .btn:active{
    background: #272727;
    }
    .btn-img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .div2{
        justify-content: center;
        align-items: left;
        display: block;
        margin: 0 auto;
    
    }

    .div4{
        justify-content: center;
        align-items: center;
        display: block;
        margin: 0 auto;
    