
body {
    padding: 10px;
    max-width: 1200px;
    max-height: 720px;
    margin: 0 auto;
    font-family: 'InputSansCompressed';
    font-weight: normal;
    font-style: normal;
    background-color: #000000;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 550px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 6; }
    .div2 { grid-area: 2 / 1 / 3 / 6; }
    .div3 { grid-area: 3 / 1 / 4 / 6; }
    .div4 { grid-area: 4 / 1 / 5 / 6; }


    h1{
        font-size: 28px;
        font-family: 'ZangeziSans09';
        font-weight: normal;
        font-style: normal;
        color: rgb(243, 239, 229);
        
        text-align: center;
    }
    p{
        padding: 0px 10px 10px;
        font-size: 18px;
        font-family: 'ZangeziSans09';
        font-weight: normal;
        font-style: normal;
        color: rgb(243, 239, 229);
        text-align: center;
        line-height: 20px;
    }

    .btn {
        display: block;
        border: solid 3px #272727;
        font-size: 18px;
        line-height: 1;
        padding: 10px 30px;
        border-radius: 50px;
        background: #272727;
        color: #F2F2F2;
        cursor: pointer;
        transition: all 0.2s linear;
        font-family: 'ZangeziSans09';
        font-weight: normal;
        font-style: normal;
        
    
    }
    .btn:hover,
    .btn:focus {
        background: rgb(242,242,242);
    
        
    color: #272727; 
    }
    .btn:active{
    background: #272727;
    }
    .btn-img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .div2{
        max-width: 100%;
        
        justify-content: center;
        align-items: center;
        display: block;
        margin: 0 auto;
        
    
    }
    .div3{
        width: 100%;
    }  
    .div4{
        width: 100%;
        justify-content: center;
        align-items: center;
        display: block;
        margin: 0 auto;
    }
    