
body {
    padding: 0;
    max-width: 1400px;
    margin: 0 auto;
    font-family: 'InputSansCompressed';
    font-weight: normal;
    font-style: normal;
    background-color: #000000;
}

.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 13px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 7; }
    .div2 { grid-area: 2 / 1 / 8 / 4; }
    .div3 { grid-area: 3 / 4 / 7 / 7; }


    h1{
        font-size: 40px;
        font-family: 'ZangeziSans09';
        font-weight: normal;
        font-style: normal;
        color: rgb(243, 239, 229);
        
        text-align: center;
    }
    p{
        font-size: 60px;
        font-family: 'ZangeziSans09';
        font-weight: normal;
        font-style: normal;
        color: rgb(243, 239, 229);
        text-align: center;
    }